*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Nunito Sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}

#nav2{
  padding-top: 20px;
  padding-bottom: 0px;
  box-shadow: -1px 4px 10px 0 rgb(0 0 0 / 10%);
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 12333;
}
#nav2 > img{
  position: relative;
  left: 20%;
  top: 2px;
  width: 7.2%;
}
#nav2 > span{
  position: relative;
  left: 70%;
  bottom: 30px;
  font-weight: 800;
}
img{
  width: 50px;
  margin-bottom: 20px;
}
.main{
  display: flex;
  margin-top: 80px;
  flex-wrap: nowrap;
}
.main > .div1{
  width: 58%;
}
.main > .div1 > h1{
  font-weight: 800;
  line-height: 45px;
  width: 100%;
  font-size: 42px;
}

.msg{
  display: flex;
  justify-content: space-between;
}
.msg > div{
  width: 50%;
}
.msg > div > p:nth-child(4),
.msg > div > p:nth-child(3){
  color:#767676 ;
}

.msg span{
  font-size: 16px;
  font-weight: 800;
  color: #767676;
}
.msg > div > img:nth-child(2){
  width: 150px;
  margin-top: 20px;
}
.final{
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 80px;
}
.final > img{
  width: 80px;
  
}

.main > .div2{
  width: 46%;
}
.main > .div2 > h2{
  font-size: 36px;
  font-weight: 800;
  line-height: 1.1;
}
.main > .div2 > h2:nth-child(2){
  color: #767676;
  font-size: 24px;
  margin-top: -20px;
}
.div2 > .features{
  color: #767676;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
.div2 input{
  margin-top: -10px;
}
.div2 > p:last-child{
  font-size: 14px;
  color: #797979;
}
.div2 > p:last-child span{
  color: #25cf60;
}
.div2 button{
  left: 90px;
  padding: 15px 30px;
  margin: 20px 0px;
}
.div2 button:hover{
  background-color: #15ab49;
}
.div2 > #a{
  display: flex;
  padding: 0px 80px;
  align-items: center;
}
.div2 > #a > img{
  position: relative;
  top: 10px;
}
@media (max-width:1330px){
  .main{
    width: 90%;
  }
}
@media (max-width:1230px){
  .main{
    width: 90%;
    flex-wrap: wrap;
  }
  .main > .div1{
    width: 80%;
    margin: auto;
  }
  .main > .div1 > .msg{
    flex-wrap: wrap;
  }
  .main > .div2{
    width: 80%;
    margin: 8% 0% 0% 10%;
  }
}