*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
  font-family: Nunito Sans, sans-serif;
}
body{
  font-family: Nunito Sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}
#nav1{
  background-color: #25CF60;
  text-align: center;
  
}
#nav1 > p{
  color: white;
  padding:15px 0px 15px 0px;
  font-size: 17px;
}
#nav1 > p > a{
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-weight: 600;
}
#nav2 {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  box-shadow: -1px 4px 10px 0 rgb(0 0 0 / 10%);
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 12333;
}
#nav2 > div:nth-child(2){
  display: flex;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 12%;
  width: 20%;
}
#nav2 > div:nth-child(2) > a{
  text-decoration: none;
  color: #1b1b20;
  font-weight:600;
  line-height: 24px;
}
#nav2 > div:nth-child(2) > a:hover{
  color: #dfa601;
}
#nav2 > div:nth-child(3) > a:hover{
  color: #dfa601;
}
#nav2 > div:nth-child(3){
  margin-right: 1%;
  display: flex;
  align-items: center;
  font-weight: 600;
  
}
#nav2 > div:nth-child(3) > a:nth-child(1){
  border: 1px solid #25CF60;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-right: 20px;
}
#nav2 > div:nth-child(5) > button{
  display: none;
}
#nav2 > div:nth-child(3) > a{
  text-decoration: none;
  color: #1b1b20;
  font-weight: 600;
  line-height: 24px;
}
#nav2 > button {
  font-family: Nunito Sans ;
  background-color: #F7B801;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 45px 15px 45px;
  border: none;
  border-radius: 30px;
}
#nav2 > button:hover{
  background-color: #dfa601;
  cursor: pointer;
}
/* Mid CSS */

#mid{
  border: 4px solid black;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-image: url('https://cdn-m.timecamp.com/img/backgroundTop.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;
}
ul{
  list-style-type: none;
}
#mid > #left {
  width: 30vw;
  background-color: rgba(255,255,255,.9);
  backdrop-filter: blur(3px);
  padding: 50px 50px 30px 50px;
  height: fit-content;
  border-radius: 6px;
  margin-left: 10%;
}
@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
#mid > #left > p:nth-child(1){
  font-weight: 700;
}
#mid > #left > h1{
  font-size: 52px;
  line-height: 54px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#mid > #left > ul > li{
  margin-top: 10px;
}
#mid > #left > input{
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 26px;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 17px;
}
#mid > #left > input + p{
  font-size: 14px;
  color: #767676;
}
#mid > #left > input + p > a{
  text-decoration: none;
  color: #25cf60;
}
#mid > #left > button{
  border: none;
  padding: 15px 30px;
  border-radius: 26px;
  color: white;
  background-color: #25CF60;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 80px;
}
#mid > #left > button:hover{
  background-color: #1da44c;
}
#mid > #left > div > img:hover{
  cursor: pointer;
}
#mid > #left > div{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: #767676;
}

#mid > #right {
  
  animation: fade 3s ease;
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 6px;
  height: fit-content;
  width: 30%;
  background-color: rgba(255,255,255,.9);
  backdrop-filter: blur(3px);
  text-align: center;
  padding: 5px 40px 40px 40px;
}
#mid > #right > img:nth-child(1){
  border-radius: 50%;
  width: 17%;
}
#mid > #right > p:nth-child(2){
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 2%;
}
#mid > #right > p:nth-child(3){
  font-weight: 300;
  margin-bottom: 10%;
}
#mid > #right > img:nth-child(4){
  width: 20%;
  margin-bottom: 10%;
}


/* Mid Footer Css */

#midFooter{
  background-color:#25CF60;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding-top: 1%;
  padding-bottom: 1%;
}
#midFooter > div{
 
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2%;

}

/* 3rd Section CSS */

#sec-3{
}
#sec-3 > p{
  text-align: center;
  font-weight: 700;
  margin-top: 4%;
  margin-bottom: 4%;
}
#sec-3 > p > a{
  text-decoration: none;
  color: #25CF60;
}
#sec-3 > h1{
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 4%;
}
#sec-3 > .sub{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding-left: 10%;
}
#sec-3 > .sub > .div1{
  width: 30%;
  padding-right: 5%;
}
#sec-3 > .sub > .div2{
  width: 40%;
  display: flex;
  align-items: center;
}
#sec-3 > .sub > .div2 > img{
  width: 80%;
}
#sec-3 > .sub > .div1 > p:nth-child(1){
  color: #25CF60;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 9%;
}
#sec-3 > .sub > .div1 > h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 5%;
}
.div1 > h1 + p{
  font-weight: 600;
  margin-bottom: 8%;
}
.div1 > button{
  border: none;
  background-color: white;
  font-size: 18px;
  color: #767676;
  transition: all .15s ease-in-out;
  margin-bottom: 15px;
}
.div1 > .content {
  margin-top: 2%;
  margin-bottom: 4%;
  display: none;

}
.div1 > .active{
  color: #1b1b20;
  border-bottom: 2px solid #25cf60;
  font-weight: 600;
  margin-bottom: 5%;
  padding-bottom: 7px;
}
/* Button Of Sec 3 DIV 1 */
.div1 > div > button{
  background-color: #25cf60;
  border: none;
  border-radius: 26px;
  padding: 15px 40px;
  color: white;
  font-weight: 700;
  margin-top: 100px;
  font-size: 16px;
}
.div1 > div > button:hover{
  background: #1da44c;
  cursor: pointer;
}
/* PTOUR DIV */
#ptour{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
#ptour > .p-div1{
  width: 50%;
  padding-right: 20%;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 4%;
}
#ptour > .p-div1 > h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}
#ptour > .p-div1 > p{
  font-size: 18px;
  margin: 6% 0% 4% 0%;
  font-weight: 500;
}
#ptour > .p-div1 >button{
  border: none;
  background-color: #f7b801;
  border-radius:26px;
  padding: 15px 40px;
  color: white;
}
#ptour > .p-div1 >button:hover{
  background-color: #dfa601;
  color: white !important;
  cursor: pointer;
}
.p-div2{
  width: 40%;
  position: relative;
  bottom: 350px;
  left:60%;
}
.p-div2  > img{
  width: 100%;
}
#mail{
  outline: none;
}

/* DAY-3 CSS */
#review{
  margin-top: -20vw;
}
#review > p{
  text-align: center;
  color: #25cf60;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2rem;
}
#review > h1{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding: 0 20%;
  width: 75vw;
  line-height: 1.1em;
  margin: auto;
}

#review > div:nth-child(3){
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  margin-top: 2.5%;
  font-size: 18px;
}
#review > div:nth-child(3) p{
  cursor: pointer;
}
#review > div:nth-child(3) > p:nth-child(2){
  border-bottom: 3px solid #25cf60;
  font-weight: 700;
  color: #212529;
}
#review > .list{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}
#review > .list > .item{
  position: relative;
  right: 150px;
  width: 470px;
  margin-right: 50px;
  
}
#review > .list > .item > span{
  font-weight: 700;
  
}
#review > .list > .item > p{
  line-height: 1.63;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 2%;
}
#review > .list > div:nth-child(3){
  background-color: #F3F3F3;
  border-radius: 26px;
  width: 570px;
  padding-bottom: 25px;
  position:relative;
  bottom: 30px;
}
#review > .list > div:nth-child(3) > span,
#review > .list > div:nth-child(3) > p{
  padding: 40px 70px 0px 40px;
}
#review > .list > div:nth-child(3) > img{
  position:relative;
  bottom: 30px;
  left: 30px;
}

#review-bottom{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  
  flex-wrap: wrap;
}
#review-bottom > div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
#review-bottom > div > img{
  
  width: 50%;
}
/* SLACK SECTION CSS */
#slack{
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  margin-bottom: 5rem;
  padding: 7rem 0 4rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}
#slack > .div1{
  width: 30%;
}
#slack > .div2{
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3,100px);
  gap: 34px 85px;
  
}
#slack > .div2 > a{
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

#slack > .div2 > a:hover{
  box-shadow: 2px -3px 26px 0 rgb(200 215 243 / 50%);
}
#slack > .div2 > a > img {
  width: 40px;
  height: 40px;
}

#slack > .div1 > p:nth-child(1){
  color: #25CF60;
  font-weight: 700;
  margin-bottom: 7%;
}
#slack > .div1 > p{
  font-size: 18px;
  width: 80%;
}
#slack > .div1 > h1{
  padding-right: 100px;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 7%;
}
#slack > .div1 > a:nth-child(5){
  border-radius: 40px;
  background-color: #25cf60;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  padding: 15px 0px;
  margin-top: 2rem;
  margin-bottom: 7%;
  cursor: pointer;
}
#slack > .div1 > a:nth-child(5) > img{
  width: 12%;
  margin-right: 20px;
}
#slack > .div1 > a:nth-child(5):hover{
  background-color: #1da44c;
}
#slack > .div1 > p:nth-child(6){
  margin-bottom: 7%;
}
#slack > .div1 > a:nth-child(7){
  color: #00bf71;
  font-weight: 800;
}
/* PRICING SEC CSS */
#pricing > .first {
  text-align: center;
}
#pricing > .first > h2,
#pricing > .first > p{
  margin-top: 1.7%;
}
#pricing > .first > p:nth-child(1){
  color: #25CF60;
  font-weight: 700;

}
#pricing > .first > h2{
  font-size: 2rem;
  font-weight: 300;
}
#pricing > .first >p:nth-child(3){
  color: #767676;
  font-size: 18px;
  width: 27%;
  margin: auto;
  margin-top: 1.7%;
}


#pricing > .second {
  display: flex;
  width: 378px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 7%);
  border-radius: 26px;
  margin-top: 2%;
}
#pricing > .second > p{
  color: #b7b7b7;
  cursor: pointer;

}
#pricing > .second > p:nth-child(1){
  
  border-radius: 26px;
  padding: 15px 40px;
}
.doItS{
  color: #25CF60;
  font-weight: 700;
}
#pricing > .second > .doIt{
  background-color: #25CF60;
  color: white;
  transition: .2s ease-in;
}
#pricing > .second > p:nth-child(2){
  
  border-radius: 26px;
  padding: 15px 40px;
  text-align: center;
  
}






#pricing > .last {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
}
#pricing > .last > div{
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
  border-radius: 26px;
  text-align: center;
  margin-top: 7%;
  width: 260px;
  padding-top: 5%;
  padding-bottom: 5%;
}
#pricing > .last > div > span{
  font-size: 48px;
  color: #25CF60;
  font-weight: 700;
  
}
#pricing > .last  hr{
  border: 1px solid #25CF60;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
#pricing > .last  p{
  color: #767676;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 15px;
}
#pricing > .last ul{
  text-align: left;
  position: relative;
  left: 30px;
  margin-top: 40px;
}
#pricing > .last li{
  list-style-type: disc;

}
#pricing > .last a{
  text-decoration: none;
  color: white;
  padding: 15px 55px;
  font-weight: 700;
  background-color: #25cf60;
  border-radius: 26px;
}
#pricing > .last a:hover{
  color:white !important;
  background-color: #1da44c;
}
#pricing > .last > div div{
  color: #25CF60;
  font-weight: 700;
  font-size: 10px;
  line-height: 26px;
  position: relative;
  bottom: 60px;
}
#pricing > .last > .pro{
  width: 270px;
  background-color: #25cf60;
  color: white;
}
#pricing > .last > .pro > a{
  background-color: white;
  color: #25CF60;
}
#pricing > .last > .pro > hr{
  border: 1px solid white;
}
#pricing > .last > .pro > a:hover{
  color: #25CF60 !important;
}
#popular{
  color: #25cf60;
  background-color: #fff;
  border-radius: 26px;
  font-size: 10px;
  padding: 6px 39px;
  position: absolute;
  top: -15px;
  left: 35px;
}
#popu{
  position: relative;
  left: 20px;
}
#gOut{
  padding-top: 20px;
  margin-bottom: -45px;
}

.secure-payment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.secure-payment > p{
  color: #767676;
  padding-left: 20px;
  line-height: 26px;
}

.yellow-one{
  background-image: url('https://cdn-m.timecamp.com/img/landing-page/time-tracking-biz/group-9.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 2.2rem;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #F7B801;
  width: 60%;
  margin: auto;
  border-radius: 26px;
  margin-top: 5%;
  padding-bottom: 3%;
}
.yellow-one > h1{
  font-size: 48px;
  width: 60%;
  line-height: 50px;
  margin: auto;
}
.yellow-one > p:nth-child(2){
  width: 55%;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  margin-top: 3%;
}
.yellow-one > input{
  width: 30%;
  font-size: 14px;
  border-radius:26px;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
  background-color: white;
  outline: none;
  border: none;
  padding: 1rem 4rem 1rem 1.5rem;
}
.yellow-one > button{
  padding:12px 10px;
  font-weight: 700;
  box-shadow: 0 0 0 3px #25cf60;
  background-color: #25cf60;
  border-radius: 26px;
  border: none;
  width: 20%;
  color: #fff;
  font-size: 16px;
  position: relative;
  right: 50px;
  margin: 5% 0% 5% 0%;
}
.yellow-one > p:nth-child(5){
  font-size: 14px;
  color: #767676;
  font-weight: 600;
  line-height: 21px;
}
.yellow-one > p:nth-child(5) > span{
  color:#1b1b20
}
.fq{
  width: 60%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.fq > h2{
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 5%;
  text-align: center;
}
.fq > button{
  border: none;
  background-color: white;
  margin-left: 40px;
}
.fq > button > h2{
  margin: 12% 0%;
}
#fqbtn2 > h2,
#fqbtn1 > h2{
  margin-top: 8%;
  margin-bottom: 8%;
}

#blog{
  background-color: #f3f3f3;

}
#blog > .main{
  width: 60%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 70px;
}
#blog > .main > p{
  color: #25cf60;
  font-weight: 700;
  margin-bottom: 3%;
}
#blog > .main > .sub{
  display: flex;
  justify-content: space-between;
}
#blog > .main > .sub > h1{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 5%;
}
#blog > .main > .sub > button{
  border: none;
  background-color: #25cf60;
  border-radius: 26px;
  color: white;
  position: absolute;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
  left: 68.8%;
}
#blog > .main > .sub > a:hover{
  background-color: #1da44c;
}
#blog > .main > .cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#blog > .main > .cards> div > img{
  width: 110%;
}
#blog > .main > .cards> div{
  width: 80%;
  line-height: 30px;
  
}
#blog > .main > .cards h2{
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0px 10px 10px;
}
#blog > .main > .cards a{
  margin: 10px 0px 10px 10px;
  color: #25cf60;
  text-decoration: none;
  font-weight: 700;
}

#footer{
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 8%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer span{
  font-weight: 800;
  font-size: 18px;
  color: #1b1b20;
}
#footer p{
  color: rgb(27, 27, 32);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #A1A1A3;
}
#footer p:hover{
  color: #f7b801;
  text-decoration: none;
  cursor: pointer;
}
#footer .a{
  margin-top: 20px;
  color: #A1A1A3;
}
.socials{
  margin: auto;
  width: 6%;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.end{
  width: 15%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.end p:nth-child(1){
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: -2px;
}
.end p:last-child{
  font-size: 11px;
  font-weight: 400;
  opacity: 0.6;
}
.language{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
}
.language > button{
  display: flex;
  justify-content: space-between;
  border-radius: 26px;
  padding: 10px 10px;
  border: 1px solid black;
}
.language > button > i{
  margin-right: 7px;
  margin-left: 7px;
}
.final_svg{
  background-color: white;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 12px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 12px;
  position: sticky;
  right: 20px;
  z-index: 1;
  bottom: 20px;
  left: 96%;
}

/*  */

/*  */
/* MAKING ABOVE CSS RESPONSIVE */
@media (max-width: 1880px){
  #mid > #left{
    width: 44%;
  }
}
@media (max-width: 1430px){
  
  #ptour{
    justify-content: flex-start;
  }
  #ptour > .p-div1{
    margin-left: 10%;
    padding-right: 0%;
  }
  #pricing > .last{
    width: 90%;
  }
  .yellow-one{
    width: 80%;
  }
  .fq{
    width: 80%;
  }
  #blog > .main{
    width: 80%;
  }
}
@media (max-width: 1830px){
  #mid{
    justify-content: flex-start;
    
  }
  #mid > #right{
    margin-left: 2%;
    width: 42%;
    margin-right: 2%;
    margin-top: 22%;
  }
  #midFooter > div{
    width: 80%;
  }
  #sec-3 > h1{
    width: 80%;
  }
  #sec-3 > .sub{
    padding-left: 0%;
  }
  #sec-3 > .sub > .div1{
    width: 40%;
  }
  #sec-3 > .sub > .div2{
    width: 50%;
  }
  #sec-3 > .sub > .div2  > img{
    width: 100%;
    padding-right: 20%;
  }
  @media (max-width: 992px){
    .yellow-one{
      width: 100%;
    }
    #nav2 > button,
    #nav2 > div:nth-child(3),
    #nav2 > div:nth-child(2){
      display: none;
    }
    #nav2 > div:nth-child(5) > button{
      width: 30px;
      height: 30px;
      background-image: url('data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsMCwwLDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+');
      background-color: transparent;
      border: none;
      display: block;
    }
    #nav2{
      justify-content: space-around;
    }

    #midFooter > div{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 30px;
      padding-bottom: 30px;
    }
    #sec-3 > .sub{
      padding-left: 100px;
    }
    #sec-3 > .sub > .div1{
      width: 50%;
      text-align: left;
    }
    #sec-3 > .sub > .div1 button{
      text-align: left;
    }


    #review > h1{
      width: 100%;
    }
    #review > div:nth-child(3){
      margin-top: 10%;
      width: 80%;
      display: grid;
      grid-template-columns: max-content;
      gap: 20px;
      justify-content: center;
    }
    
    
  }
  @media (max-width: 815px){
    #mid > #right{
      display: none;
    }
    #mid > #left{
      width: 80%;
    }
    #sec-3 > .sub > .div2{
      display: none;
    }
    #sec-3 > .sub{
      padding-left: 0px;
    }
    #sec-3 > .sub > .div1{
      width: 70%;
      text-align: left;
    }
    #sec-3 > .sub > .div1 button{
      text-align: left;
    }
    #slack > .div1{
      width: 100%;
      margin-bottom: 40px;
    }
    #slack > .div2{
      margin-left: -20px;
    }
    #pricing > .last{
      overflow: hidden;
    }
    .yellow-one input{
      width: 40%;
    }
    .yellow-one button{
      width: 30%;
    }
  }

  @media (max-width: 1500px){
    #sec-3 > .sub > .div2  > img{
      width: 100%;
      padding-right: 5%;
    }
    #review > .list > div{
      position: relative;
      left: 40px;
    }
    #review > .list > div:nth-child(1){
      display: none;
    }
    #review  > h1{
      width: 100%;
    }
    #review-bottom{
      width: 100%;
    }

    #mid >  #right{
      margin-top: 15%;
    }
    #pricing > .last{
      width: 90%;
    }
    #pricing > .last #popu{
      position: relative;
      top: -75px;
    }
    #blog > .main > .sub > button{
      display: none;
    }
    #blog > .main > .sub > h1{
      line-height: 45px;
    }
  }
}
/*  */